@import "tailwindcss";

:root {
  --background: #eef1f7;
  --foreground: #1f2937;
  --card: #ffffff;
  --border: #e5e7eb;
    --sidebar: #2563eb;
  --border: #e5e7eb;
  --dashboard:#2563eb;
  --infos:#EFF6FF;
  --infos-text:#2563eb;
  --report-text:#2563eb;
    --profile-page: #1f2937;



  --font-sans: var(--font-poppins);
}

/* ✅ DARK MODE (FIXED) */
.dark {
  --background: #0f172a;
  --foreground: #e5e7eb;

  --card: #1e293b;
  --border: #374151;

    --sidebar: #020617;
      --border: #475569; /* lighter for visibility */
--dashboard:#0f172a;
--infos:#374151;
--infos-text:#e5e7eb;
  --report-text:#0f172a;
        --profile-page: #979daa;



}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}


/* GLOBAL */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

/* ANIMATION */
@keyframes fillUp {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.animate-fill {
  animation: fillUp 2.5s ease-in-out forwards;
}

/* SCROLLBAR */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* SMOOTH TRANSITION */
* {
  transition: background-color 0.25s ease, color 0.25s ease;
}
